/* Footer */

#footer {
	background-color: #333;
	color: rgb(243, 243, 243);
	padding: 3vh 0;
	text-align: center;
}

#signature {
	font-weight: 800;
	font-size: 1.1rem;
}

#webdev {
	font-weight: 200;
	font-size: 0.8rem;
}

#my-github {
	margin-bottom: 0;
}
