/* Main Content */
#content {
	margin: 5vh 0;
}

/* Timer */
#timer {
	color: #ffffff;
}

/* Settings to Implement Sticky Footer (used with flex-shrink: 0 on #footer) */

html,
body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}
#content {
	flex: 1 0 auto;
}

/* Footer */

#footer {
	background-color: #333;
	color: rgb(243, 243, 243);
	padding: 3vh 0;
	text-align: center;
	flex-shrink: 0;
}

#signature {
	font-weight: 800;
	font-size: 1.1rem;
}

#webdev {
	font-weight: 200;
	font-size: 0.8rem;
}

#my-github {
	margin-bottom: 0;
}

/* Medium Screen Sizes and Up */
@media only screen and (min-width: 768px) {
	.btn {
		width: 15%;
	}
}
